<h1>Tasks</h1>
<div>
  <% @tasks.each do |task| %>
    <div style="display: flex;">
        <div style="width: 200px;">Content: <%= task.content %></div>
        <div><%= button_to "edit", edit_task_path(task), method: :get %></div>
        <div><%= button_to "delete", task_path(task), method: :delete %></div>
    </div>
  <% end %>
</div>
<%= link_to "New task", new_task_path %>
